<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold">
                    <!-- <span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper -->
                    <img src="assets/img/papyrus_logo.svg" alt="papyrus_logo" style="width : 80%">
                </h1>
            </a>
            <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>8 street Ton That Thuyet, Ha Noi, Viet Nam</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 1900 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5 Quick">
                    <h5 class="font-weight-bold text-dark Quick__text mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" routerLink="Shop" ><i class="fa fa-angle-right mr-2"></i>Products</a>
                        <a class="text-dark mb-2" routerLink="Blog" ><i class="fa fa-angle-right mr-2"></i>Blog</a>
                        <a class="text-dark mb-2" routerLink="Contact" ><i class="fa fa-angle-right mr-2"></i>Contact</a>
                        <a class="text-dark mb-2" routerLink="Checkout" ><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-dark" routerLink="Aboutus" ><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    </div>
                </div>
                <div class="col-md-8 mb-5">
                    <iframe class="map_site" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1012743101824!2d105.77964371478456!3d21.02863339315882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ecb92db%3A0x3964e6238a3bd088!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1664165449719!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
               
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed
                by
                <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="assets/img/payments.png" alt="">
        </div>
    </div>
</div>