<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Blog</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Blog</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<div class="right-content col-xl-9 col-lg-9 col-md-12 col-12 order-lg-last order-xl-last ">
  <div class="container">
    <section class="list-blogs blog-main listmain_blog clearfix ">
        <div class="row clearfix">
          <div class="col-xl-12 col-md-12 col-12 ">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/goi-y-16-mon-qua-noel-y-nghia-cho-ban-gai"
                        title="Gợi ý 16 món quà Noel ý nghĩa cho bạn gái"
                      >
                        <img
                          src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/receive-a-gift-of-surprise-hd-picture-01.jpg?v=1493365195327"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/receive-a-gift-of-surprise-hd-picture-01.jpg?v=1493365195327"
                          alt="Gợi ý 16 món quà Noel ý nghĩa cho bạn gái"
                          class="lazyload img-responsive loaded"
                          data-was-processed="true"
                          style="height: 250px; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space ">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/goi-y-16-mon-qua-noel-y-nghia-cho-ban-gai"
                          title="Gợi ý 16 món quà Noel ý nghĩa cho bạn gái"
                          >Suggest 16 meaningful Christmas gifts for girlfriends</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Flowers A bouquet of flowers in her favorite colors
                        Always a great gift for women. Especially the red roses represent
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Đào Quý Thương </span>
                      <span>- 1 comment</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-12 col-md-12 col-12">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/bi-quyet-de-tang-qua-sang-tao-va-lang-man"
                        title="Bí quyết để tặng quà sáng tạo và lãng mạn"
                      >
                        <img
                          src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/new-image-for-kids-carousel.jpg?v=1493362159473"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/new-image-for-kids-carousel.jpg?v=1493362159473"
                          alt="Bí quyết để tặng quà sáng tạo và lãng mạn"
                          class="lazyload img-responsive loaded"
                          data-was-processed="true"
                          style="height: auto; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/bi-quyet-de-tang-qua-sang-tao-va-lang-man"
                          title="Bí quyết để tặng quà sáng tạo và lãng mạn"
                          >The secret to creative and romantic gift giving</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        It's romantic to give flowers any time, but a nationwide survey found that women feel flowers are given "for no reason at all"...
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Avent Team </span>
                      <span>- 3 comment</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-12 col-md-12 col-12">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/van-hoa-va-nghe-thuat-tang-qua-y-nghia"
                        title="Văn hóa và nghệ thuật tặng quà ý nghĩa"
                      >
                        <img
                          src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/tang-qua-giang-sinh-3.jpg?v=1493362397820"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/tang-qua-giang-sinh-3.jpg?v=1493362397820"
                          alt="Văn hóa và nghệ thuật tặng quà ý nghĩa"
                          class="lazyload img-responsive loaded"
                          data-was-processed="true"
                          style="height: 250px; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/van-hoa-va-nghe-thuat-tang-qua-y-nghia"
                          title="Văn hóa và nghệ thuật tặng quà ý nghĩa"
                          >Culture and art of giving meaningful gifts</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Culture and art of giving meaningful gifts
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Avent Team </span>
                      <span>- 1 comment</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-12 col-md-12 col-12">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/phong-thuy-va-5-mon-qua-khong-nen-tang"
                        title="Phong thủy và 5 món quà không nên tặng"
                      >
                        <img
                          src="assets/img/images4/christmas_gift/Snowflake.jpg"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/top-10-merry-christmas-new-year-2014-wallpapers-09.jpg?v=1493362186977"
                          alt="Phong thủy và 5 món quà không nên tặng"
                          class="lazyload img-responsive"
                          style="height: 250px; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/phong-thuy-va-5-mon-qua-khong-nen-tang"
                          title="Phong thủy và 5 món quà không nên tặng"
                          >Feng shui and 5 gifts not to give</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Giving and receiving gifts is a beautiful act of caring
                        that people have for each other, so of course a lot of people
                        I think that giving gifts is the owner...
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Avent Team </span>
                      <span>- 0 comment</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-12 col-md-12 col-12">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/mot-so-goi-y-giup-chon-hoa-lam-qua-tang"
                        title="Một số gợi ý giúp chọn hoa làm quà tặng"
                      >
                        <img
                          src="assets/img/images4/valentine_gift/Roses.jpg"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/festive-planning-32702.jpg?v=1493362120230"
                          alt="Một số gợi ý giúp chọn hoa làm quà tặng"
                          class="lazyload img-responsive"
                          style="height: 250px; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/mot-so-goi-y-giup-chon-hoa-lam-qua-tang"
                          title="Một số gợi ý giúp chọn hoa làm quà tặng"
                          >Some suggestions to help choose flowers as gifts</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Giving flowers is sending a meaningful message that often brings
                        feelings of love and happiness by fragrance and beauty
                        absolute of flowers...
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Avent Team </span>
                      <span>- 0 comment</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
 
</div>
