<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Blog</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Blog</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<div class="right-content col-xl-9 col-lg-9 col-md-12 col-12 order-lg-last order-xl-last ">
  <div class="container">
    <section class="list-blogs blog-main listmain_blog clearfix ">
        <div class="row clearfix">
          <div class="col-xl-12 col-md-12 col-12 ">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/goi-y-16-mon-qua-noel-y-nghia-cho-ban-gai"
                        title="Gợi ý 16 món quà Noel ý nghĩa cho bạn gái"
                      >
                        <img
                          src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/receive-a-gift-of-surprise-hd-picture-01.jpg?v=1493365195327"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/receive-a-gift-of-surprise-hd-picture-01.jpg?v=1493365195327"
                          alt="Gợi ý 16 món quà Noel ý nghĩa cho bạn gái"
                          class="lazyload img-responsive loaded"
                          data-was-processed="true"
                          style="height: 250px; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space ">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/goi-y-16-mon-qua-noel-y-nghia-cho-ban-gai"
                          title="Gợi ý 16 món quà Noel ý nghĩa cho bạn gái"
                          >Gợi ý 16 món quà Noel ý nghĩa cho bạn gái</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Hoa Một bó hoa với những bông hoa màu sắc yêu thích của nàng
                        luôn là một món quà tuyệt vời dành cho phụ nữ. Đặc biệt
                        những đóa hồng đỏ biểu...
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Đào Quý Thương </span>
                      <span>- 1 bình luận</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-12 col-md-12 col-12">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/bi-quyet-de-tang-qua-sang-tao-va-lang-man"
                        title="Bí quyết để tặng quà sáng tạo và lãng mạn"
                      >
                        <img
                          src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/new-image-for-kids-carousel.jpg?v=1493362159473"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/new-image-for-kids-carousel.jpg?v=1493362159473"
                          alt="Bí quyết để tặng quà sáng tạo và lãng mạn"
                          class="lazyload img-responsive loaded"
                          data-was-processed="true"
                          style="height: auto; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/bi-quyet-de-tang-qua-sang-tao-va-lang-man"
                          title="Bí quyết để tặng quà sáng tạo và lãng mạn"
                          >Bí quyết để tặng quà sáng tạo và lãng mạn</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Bất cứ khi nào tặng hoa cũng đều lãng mạn, nhưng một cuộc
                        khảo sát trên toàn quốc cho thấy phụ nữ cảm thấy hoa được
                        tặng “không vì lý do nào cả” l...
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Avent Team </span>
                      <span>- 3 bình luận</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-12 col-md-12 col-12">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/van-hoa-va-nghe-thuat-tang-qua-y-nghia"
                        title="Văn hóa và nghệ thuật tặng quà ý nghĩa"
                      >
                        <img
                          src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/tang-qua-giang-sinh-3.jpg?v=1493362397820"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/tang-qua-giang-sinh-3.jpg?v=1493362397820"
                          alt="Văn hóa và nghệ thuật tặng quà ý nghĩa"
                          class="lazyload img-responsive loaded"
                          data-was-processed="true"
                          style="height: 250px; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/van-hoa-va-nghe-thuat-tang-qua-y-nghia"
                          title="Văn hóa và nghệ thuật tặng quà ý nghĩa"
                          >Văn hóa và nghệ thuật tặng quà ý nghĩa</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Vào dịp năm mới và các ngày lễ, các ngày kỷ niệm là lúc mọi
                        người muốn tặng cho nhau những món quà ấm áp tình thương
                        yêu. Ở đâu có cuộc sống ở đó ...
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Avent Team </span>
                      <span>- 1 bình luận</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-12 col-md-12 col-12">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/phong-thuy-va-5-mon-qua-khong-nen-tang"
                        title="Phong thủy và 5 món quà không nên tặng"
                      >
                        <img
                          src="assets/img/images4/christmas_gift/Snowflake.jpg"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/top-10-merry-christmas-new-year-2014-wallpapers-09.jpg?v=1493362186977"
                          alt="Phong thủy và 5 món quà không nên tặng"
                          class="lazyload img-responsive"
                          style="height: 250px; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/phong-thuy-va-5-mon-qua-khong-nen-tang"
                          title="Phong thủy và 5 món quà không nên tặng"
                          >Phong thủy và 5 món quà không nên tặng</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Trao và nhận quà là hành động đẹp biểu hiện cho sự quan tâm
                        mà con người dành cho nhau, vì thế, dĩ nhiên rất nhiều người
                        cho rằng tặng quà thì chủ...
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Avent Team </span>
                      <span>- 0 bình luận</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-12 col-md-12 col-12">
            <div class="item_blog_big item_blog_page">
              <div class="figure-big">
                <div class="content_item_blogs row">
                  <div class="col-xl-5 col-lg-5 col-12">
                    <div class="img_thumb_blogs">
                      <a
                        class="image-blog"
                        href="/mot-so-goi-y-giup-chon-hoa-lam-qua-tang"
                        title="Một số gợi ý giúp chọn hoa làm quà tặng"
                      >
                        <img
                          src="assets/img/images4/valentine_gift/Roses.jpg"
                          data-src="//bizweb.dktcdn.net/thumb/large/100/037/325/articles/festive-planning-32702.jpg?v=1493362120230"
                          alt="Một số gợi ý giúp chọn hoa làm quà tặng"
                          class="lazyload img-responsive"
                          style="height: 250px; width: 95%; "
                        />
    
                        <span class="thead"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-12 clearfix__space">
                    <div class="blog_home_title margin-top-0 margin-bottom-10">
                      <h3 class="news_home_content_short_info">
                        <a
                          href="/mot-so-goi-y-giup-chon-hoa-lam-qua-tang"
                          title="Một số gợi ý giúp chọn hoa làm quà tặng"
                          >Một số gợi ý giúp chọn hoa làm quà tặng</a
                        >
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>
                        Tặng hoa là gửi đi một thông điệp ý nghĩa thường mang lại
                        cảm xúc của tình yêu và hạnh phúc bằng hương thơm và vẻ đẹp
                        tuyệt đối của những bông hoa...
                      </p>
                    </div>
                    <div class="content_day_blog margin-bottom-15">
                      <span class="post-times a"> Avent Team </span>
                      <span>- 0 bình luận</span>
                      <span class="short_time a"> - 07/10/2022 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
 
</div>
