<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">About Us</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">About Us</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<main class="main" id="top">
   <div class="about_team">
    <div class="about_team-team">
      <marquee direction="left" style="height: 45px; background:#57e236; color: black; font-size: 1.3rem;font-weight: 700; padding-top: 5px; ">My Team</marquee>
    </div>
   </div>

    

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-2">
      <div class="container px-md-5">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/cat-1.jpg" alt="">
                  <div class="row g-0 card-body px-0 pt-2">
                    <div class="col-12 col-xl-8 text-center text-xl-start">
                      <h4>Mạnh Tiến</h4>
                      <p class="text-warning mb-2">CEO</p>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/cat-2.jpg" alt="">
                  <div class="row g-0 card-body px-0 pt-2">
                    <div class="col-12 col-xl-8 text-center text-xl-start">
                      <h4>Đắc Tuấn</h4>
                      <p class="text-warning mb-2">Art Director</p>
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/cat-3.jpg" alt="">
                  <div class="row g-0 card-body px-0 pt-2">
                    <div class="col-12 col-xl-8 text-center text-xl-start">
                      <h4>Tuấn Anh</h4>
                      <p class="text-warning mb-2">Servicer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/cat-5.jpg" alt="">
                  <div class="row g-0 card-body px-0 pt-2">
                    <div class="col-12 col-xl-8 text-center text-xl-start">
                      <h4>Quang Tạo</h4>
                      <p class="text-warning mb-2">Art Director</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/cat-6.jpg" alt="">
                  <div class="row g-0 card-body px-0 pt-2">
                    <div class="col-12 col-xl-8 text-center text-xl-start">
                      <h4>Minh Tuấn</h4>
                      <p class="text-warning mb-2">CEO</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end of .container-->
    </section><!-- <section> close ============================-->
    <!-- ============================================-->
    <!-- Vendor Start -->
    <div class="container-fluid py-5">
      <div class="row px-xl-5">
          <div class="col">
              <div class="owl-carousel vendor-carousel">
                  <div class="vendor-item border p-4">
                      <img src="assets/img/Rabout us/vendor-1.jpg" alt="">
                  </div>
                  <div class="vendor-item border p-4">
                      <img src="assets/img/Rabout us/vendor-2.jpg" alt="">
                  </div>
                  <div class="vendor-item border p-4">
                      <img src="assets/img/Rabout us/vendor-3.jpg" alt="">
                  </div>
                  <div class="vendor-item border p-4">
                      <img src="assets/img/Rabout us/vendor-4.jpg" alt="">
                  </div>
                  <div class="vendor-item border p-4">
                      <img src="assets/img/Rabout us/vendor-5.jpg" alt="">
                  </div>
                  <div class="vendor-item border p-4">
                      <img src="assets/img/Rabout us/vendor-6.jpg" alt="">
                  </div>
                  <div class="vendor-item border p-4">
                      <img src="assets/img/Rabout us/vendor-7.jpg" alt="">
                  </div>
                  <div class="vendor-item border p-4">
                      <img src="assets/img/Rabout us/vendor-8.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Vendor End -->

  </main>
 